{% extends "base.html" %}

{% block content %}

    <style>
        .custom-file-upload input[type="file"] {
            display: none;
        }

        .custom-file-upload {
            border: 1px solid #ccc;
            padding: 6px 12px;
            cursor: pointer;
            background-color: #f8f8f8;
            position: relative; /* Per posizionare l'elemento figlio rispetto al genitore */
        }

        .custom-file-upload:hover {
            background-color: #e0e0e0;
        }

        /* Aggiunto stile per il riquadro del nome del file */
        #file-name-display {
            display: inline-block;
            padding: 6px;
            border: 1px solid #ccc;
            margin-left: 10px;
            border-radius: 5px;
        }

        /* Stile per il pulsante disabilitato */
        .disabled-btn {
            background-color: #ccc;
            cursor: not-allowed;
        }
    </style>

    <!-- Script JavaScript per controllare il caricamento del file -->
    <script>
        document.addEventListener("DOMContentLoaded", function (){
            const fileInput = document.getElementById("file");
            const submitButton = document.querySelector(".btn");
            const fileNameDisplay = document.getElementById("file-name-display");

            // Aggiunge un ascoltatore agli eventi di cambio per il campo del file
            fileInput.addEventListener("change", function () {
                // Abilita o disabilita il pulsante di invio in base alla presenza di un file
                submitButton.disabled = !fileInput.files.length;

                // Aggiunge o rimuove la classe per il pulsante disabilitato
                submitButton.classList.toggle("disabled-btn", !fileInput.files.length);

                // Aggiorna il nome del file visualizzato
                fileNameDisplay.textContent = fileInput.files.length > 0 ? fileInput.files[0].name : "";
            });
        });
    </script>

    <h1>Select Model and Image</h1>
    <form method="post" novalidate action="/custom_classifications" enctype="multipart/form-data">
        <h4>
            Model:
        </h4>
        <p>
            <select name="model_id">
                {% for model in models %}
                  <option value="{{ model }}" SELECTED>{{ model }}</option>
                {% endfor %}
              </select>
        </p>
        <h4>
            Image:
        </h4>
        <p>
            <label class="custom-file-upload"> Upload
                <input type="file" id="file" name="file" accept="image/*" style="display: none;" autocomplete="off">
                <!-- Aggiunto elemento per visualizzare il nome del file -->
                <span id="file-name-display"></span>
            </label>
        </p>
        <button type="submit" class="btn btn-dark mb-2 disabled-btn" disabled>Submit</button>
    </form>
{% endblock %}